body {
  font-family: 'Oswald', sans-serif;
  background: #33334f;
}

@mixin text-first-letter-uppercase {
  &::first-letter{
    text-transform: uppercase;
  }
}

.text-first-letter-uppercase {
  @include text-first-letter-uppercase();
}